<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rainbow.mapper.TbActivityRangeMapper" >

    <resultMap id="BaseResultMap" type="org.rainbow.pojo.TbActivityRange" >
        <id column="activity_id" property="activityId" jdbcType="BIGINT" />
        <id column="goods_id" property="goodsId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="mark" property="mark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        activity_id, goods_id, create_time, status, mark
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="org.rainbow.pojo.TbActivityRangeKey" >
        select 
        <include refid="Base_Column_List" />
        from tb_activity_range
        where activity_id = #{activityId,jdbcType=BIGINT}
          and goods_id = #{goodsId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="org.rainbow.pojo.TbActivityRangeKey" >
        delete from tb_activity_range
        where activity_id = #{activityId,jdbcType=BIGINT}
          and goods_id = #{goodsId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="org.rainbow.pojo.TbActivityRange" >
        insert into tb_activity_range (activity_id, goods_id, create_time, 
            status, mark)
        values (#{activityId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
            #{status,jdbcType=INTEGER}, #{mark,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.rainbow.pojo.TbActivityRange" >
        insert into tb_activity_range
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="activityId != null" >
                activity_id,
            </if>
            <if test="goodsId != null" >
                goods_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="mark != null" >
                mark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="activityId != null" >
                #{activityId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="mark != null" >
                #{mark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.rainbow.pojo.TbActivityRange" >
        update tb_activity_range
        <set >
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="mark != null" >
                mark = #{mark,jdbcType=VARCHAR},
            </if>
        </set>
        where activity_id = #{activityId,jdbcType=BIGINT}
          and goods_id = #{goodsId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.rainbow.pojo.TbActivityRange" >
        update tb_activity_range
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=INTEGER},
            mark = #{mark,jdbcType=VARCHAR}
        where activity_id = #{activityId,jdbcType=BIGINT}
          and goods_id = #{goodsId,jdbcType=BIGINT}
    </update>
</mapper>