<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rainbow.mapper.TbGoodstypeMapper" >

    <resultMap id="BaseResultMap" type="org.rainbow.pojo.TbGoodstype" >
        <id column="typeID" property="typeid" jdbcType="BIGINT" />
        <result column="typeName" property="typename" jdbcType="VARCHAR" />
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="mark" property="mark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        typeID, typeName, createTime, mark
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from tb_goodsType
        where typeID = #{typeid,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from tb_goodsType
        where typeID = #{typeid,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="org.rainbow.pojo.TbGoodstype" >
        insert into tb_goodsType (typeID, typeName, createTime, 
            mark)
        values (#{typeid,jdbcType=BIGINT}, #{typename,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
            #{mark,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.rainbow.pojo.TbGoodstype" >
        insert into tb_goodsType
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="typeid != null" >
                typeID,
            </if>
            <if test="typename != null" >
                typeName,
            </if>
            <if test="createtime != null" >
                createTime,
            </if>
            <if test="mark != null" >
                mark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="typeid != null" >
                #{typeid,jdbcType=BIGINT},
            </if>
            <if test="typename != null" >
                #{typename,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="mark != null" >
                #{mark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.rainbow.pojo.TbGoodstype" >
        update tb_goodsType
        <set >
            <if test="typename != null" >
                typeName = #{typename,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="mark != null" >
                mark = #{mark,jdbcType=VARCHAR},
            </if>
        </set>
        where typeID = #{typeid,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.rainbow.pojo.TbGoodstype" >
        update tb_goodsType
        set typeName = #{typename,jdbcType=VARCHAR},
            createTime = #{createtime,jdbcType=TIMESTAMP},
            mark = #{mark,jdbcType=VARCHAR}
        where typeID = #{typeid,jdbcType=BIGINT}
    </update>
</mapper>