<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rainbow.mapper.TbStockManageMapper" >

    <resultMap id="BaseResultMap" type="org.rainbow.pojo.TbStockManage" >
        <id column="gid" property="gid" jdbcType="INTEGER" />
        <result column="gstock" property="gstock" jdbcType="INTEGER" />
        <result column="gsold" property="gsold" jdbcType="INTEGER" />
        <result column="sid" property="sid" jdbcType="INTEGER" />
        <result column="mark" property="mark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        gid, gstock, gsold, sid, mark
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_stock_manage
        where gid = #{gid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from tb_stock_manage
        where gid = #{gid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.rainbow.pojo.TbStockManage" >
        insert into tb_stock_manage (gid, gstock, gsold, 
            sid, mark)
        values (#{gid,jdbcType=INTEGER}, #{gstock,jdbcType=INTEGER}, #{gsold,jdbcType=INTEGER}, 
            #{sid,jdbcType=INTEGER}, #{mark,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.rainbow.pojo.TbStockManage" >
        insert into tb_stock_manage
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="gid != null" >
                gid,
            </if>
            <if test="gstock != null" >
                gstock,
            </if>
            <if test="gsold != null" >
                gsold,
            </if>
            <if test="sid != null" >
                sid,
            </if>
            <if test="mark != null" >
                mark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="gid != null" >
                #{gid,jdbcType=INTEGER},
            </if>
            <if test="gstock != null" >
                #{gstock,jdbcType=INTEGER},
            </if>
            <if test="gsold != null" >
                #{gsold,jdbcType=INTEGER},
            </if>
            <if test="sid != null" >
                #{sid,jdbcType=INTEGER},
            </if>
            <if test="mark != null" >
                #{mark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.rainbow.pojo.TbStockManage" >
        update tb_stock_manage
        <set >
            <if test="gstock != null" >
                gstock = #{gstock,jdbcType=INTEGER},
            </if>
            <if test="gsold != null" >
                gsold = #{gsold,jdbcType=INTEGER},
            </if>
            <if test="sid != null" >
                sid = #{sid,jdbcType=INTEGER},
            </if>
            <if test="mark != null" >
                mark = #{mark,jdbcType=VARCHAR},
            </if>
        </set>
        where gid = #{gid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.rainbow.pojo.TbStockManage" >
        update tb_stock_manage
        set gstock = #{gstock,jdbcType=INTEGER},
            gsold = #{gsold,jdbcType=INTEGER},
            sid = #{sid,jdbcType=INTEGER},
            mark = #{mark,jdbcType=VARCHAR}
        where gid = #{gid,jdbcType=INTEGER}
    </update>
</mapper>