<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rainbow.mapper.TbStoreMapper" >

    <resultMap id="BaseResultMap" type="org.rainbow.pojo.TbStore" >
        <id column="store_id" property="storeId" jdbcType="BIGINT" />
        <result column="store_name" property="storeName" jdbcType="VARCHAR" />
        <result column="store_area" property="storeArea" jdbcType="VARCHAR" />
        <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
        <result column="store_manager" property="storeManager" jdbcType="VARCHAR" />
        <result column="manager_tel" property="managerTel" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="mark" property="mark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        store_id, store_name, store_area, store_address, store_manager, manager_tel, create_time, 
        status, mark
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from tb_store
        where store_id = #{storeId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from tb_store
        where store_id = #{storeId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="org.rainbow.pojo.TbStore" >
        insert into tb_store (store_id, store_name, store_area, 
            store_address, store_manager, manager_tel, 
            create_time, status, mark
            )
        values (#{storeId,jdbcType=BIGINT}, #{storeName,jdbcType=VARCHAR}, #{storeArea,jdbcType=VARCHAR}, 
            #{storeAddress,jdbcType=VARCHAR}, #{storeManager,jdbcType=VARCHAR}, #{managerTel,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{mark,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="org.rainbow.pojo.TbStore" >
        insert into tb_store
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="storeName != null" >
                store_name,
            </if>
            <if test="storeArea != null" >
                store_area,
            </if>
            <if test="storeAddress != null" >
                store_address,
            </if>
            <if test="storeManager != null" >
                store_manager,
            </if>
            <if test="managerTel != null" >
                manager_tel,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="mark != null" >
                mark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                #{storeId,jdbcType=BIGINT},
            </if>
            <if test="storeName != null" >
                #{storeName,jdbcType=VARCHAR},
            </if>
            <if test="storeArea != null" >
                #{storeArea,jdbcType=VARCHAR},
            </if>
            <if test="storeAddress != null" >
                #{storeAddress,jdbcType=VARCHAR},
            </if>
            <if test="storeManager != null" >
                #{storeManager,jdbcType=VARCHAR},
            </if>
            <if test="managerTel != null" >
                #{managerTel,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=DATE},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="mark != null" >
                #{mark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.rainbow.pojo.TbStore" >
        update tb_store
        <set >
            <if test="storeName != null" >
                store_name = #{storeName,jdbcType=VARCHAR},
            </if>
            <if test="storeArea != null" >
                store_area = #{storeArea,jdbcType=VARCHAR},
            </if>
            <if test="storeAddress != null" >
                store_address = #{storeAddress,jdbcType=VARCHAR},
            </if>
            <if test="storeManager != null" >
                store_manager = #{storeManager,jdbcType=VARCHAR},
            </if>
            <if test="managerTel != null" >
                manager_tel = #{managerTel,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="mark != null" >
                mark = #{mark,jdbcType=VARCHAR},
            </if>
        </set>
        where store_id = #{storeId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.rainbow.pojo.TbStore" >
        update tb_store
        set store_name = #{storeName,jdbcType=VARCHAR},
            store_area = #{storeArea,jdbcType=VARCHAR},
            store_address = #{storeAddress,jdbcType=VARCHAR},
            store_manager = #{storeManager,jdbcType=VARCHAR},
            manager_tel = #{managerTel,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=DATE},
            status = #{status,jdbcType=INTEGER},
            mark = #{mark,jdbcType=VARCHAR}
        where store_id = #{storeId,jdbcType=BIGINT}
    </update>
</mapper>