<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rainbow.mapper.TbTransferMapper">

	<insert id="addTransfer" parameterType="org.rainbow.pojo.TbTransfer" >
	insert into tb_transfer ( transfer_id, store_fromid,
		store_toid,goods_id,goods_num,createtime, status)
		values (#{transfer_id,jdbcType=BIGINT},
		#{store_fromid,jdbcType=BIGINT},
		#{store_toid,jdbcType=BIGINT},
		#{goods_id,jdbcType=BIGINT},
		#{goods_num,jdbcType=INTEGER},
		#{createtime,jdbcType=TIMESTAMP},
		#{status,jdbcType=INTEGER})
	</insert>
	
	<select id="findAllCheckTransfer" resultType="org.rainbow.pojo.TbTransfer">
		select transfer_id, store_fromid,
		store_toid,goods_id,goods_num,createtime, status from tb_transfer 
		<!-- where status=1 -->
	</select>
	
	<select id="findCheckTransfer" parameterType="java.lang.Long" resultType="org.rainbow.pojo.TbTransfer">
		select transfer_id, store_fromid,
		store_toid,goods_id,goods_num,createtime, status from tb_transfer 
		where transfer_id=#{transfer_id}
	</select>
	
	<update id="updateTransfer" parameterType="org.rainbow.pojo.TbTransfer" >
		update tb_transfer 
			<set>
			<if test="store_fromid != null">
				store_fromid = #{store_fromid,jdbcType=BIGINT},
			</if>
			<if test="store_toid != null">
				store_toid = #{store_toid,jdbcType=BIGINT},
			</if>
			<if test="goods_id != null">
				goods_id = #{goods_id,jdbcType=BIGINT},
			</if>
			<if test="goods_num != null">
				goods_num = #{goods_num,jdbcType=INTEGER},
			</if>
			<if test="createtime!= null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			
		</set>
		where transfer_id = #{transfer_id,jdbcType=BIGINT}
		
		<!-- set store_fromid=#{store_fromid,jdbcType=BIGINT},
		store_toid = #{store_toid,jdbcType=BIGINT},
		goods_id = #{goods_id,jdbcType=BIGINT},
		goods_num=#{goods_num,jdbcType=INTEGER}
		createtime = #{createtime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=INTEGER}
		where transfer_id = #{transfer_id,jdbcType=BIGINT} -->
	</update>

	<!-- <resultMap id="BaseResultMap" type="org.rainbow.pojo.TbTransfer">
		<id column="transfer_id" property="transferId" jdbcType="BIGINT" />
		<result column="store_fromid" property="storeFromId" jdbcType="VARCHAR" />
		<result column="store_toid" property="storeToId" jdbcType="VARCHAR" />
		<result column="goods_id" property="goodsTd" jdbcType="VARCHAR" />
		<result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		transfer_id, store_fromid, store_toid,goods_id,createtime, status
	</sql>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_transfer
		where status = 1
		ORDER BY createtime DESC
	</select>

	<select id="searchTransfer" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_transfer
		where status = 1
		and ( store_fromid =
		#{storeFromId,jdbcType=BIGINT})
		and( store_toid =
		#{storeToId,jdbcType=BIGINT})
		ORDER BY createtime DESC
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tb_transfer
		where transfer_id = #{transferId,jdbcType=BIGINT}
	</select>

	<select id="getAllTransferName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_transfer
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tb_transfer
		where transfer_id = #{transferId,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="org.rainbow.pojo.TbTransfer">
		insert into tb_transfer ( transfer_id, store_fromid,
		store_toid,goods_id,createtime, status)
		values (#{transferId,jdbcType=BIGINT},
		#{storeFromId,jdbcType=BIGINT},
		#{storeToId,jdbcType=BIGINT},
		#{goosId,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP},
		#{status,jdbcType=INTEGER})
	</insert>

	<insert id="insertSelective" parameterType="org.rainbow.pojo.TbTransfer">
		insert into tb_transfer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="transferId != null">
				transfer_id,
			</if>
			<if test="storeFromId != null">
				store_fromid,
			</if>
			<if test="storeToId != null">
				store_toid,
			</if>
			<if test="goosId != null">
				goods_id,
			</if>
			<if test="status != null">
				status,
			</if>
			createtime
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="transferId != null">
				transfer_id,
			</if>
			<if test="storeFromId != null">
				store_fromid,
			</if>
			<if test="storeToId != null">
				store_toid,
			</if>
			<if test="goosId != null">
				goods_id,
			</if>
			<if test="status != null">
				status,
			</if>
			createtime
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="org.rainbow.pojo.TbTransfer">
		update tb_transfer
		<set>
			<if test="storeFromId != null">
				store_fromid = #{storeFromId,jdbcType=VARCHAR},
			</if>
			<if test="storeToId != null">
				store_toid = #{storeToId,jdbcType=TIMESTAMP},
			</if>
			<if test="goosId != null">
				goods_id = #{goosId,jdbcType=VARCHAR},
			</if>
			<if test="createTime!= null">
				createtime = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			
		</set>
		where transfer_id = #{transferId,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKey" parameterType="org.rainbow.pojo.TbTransfer">
		update tb_transfer
		set store_fromid = #{storeFromId,jdbcType=VARCHAR},
		store_toid = #{storeToId,jdbcType=VARCHAR},
		goods_id = #{goosId,jdbcType=VARCHAR},
		createtime = #{createTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=INTEGER}
		
		where transfer_id = #{transferId,jdbcType=BIGINT}
	</update> -->
</mapper>