@charset "UTF-8";
html,
body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    height: 1000px;
}

a {
    text-decoration: none;
    color: #036;
    font-weight: bold;
}

#content {
    background-color: #fff;
    opacity: 0.8;
    width: 450px;
    margin: 300px auto auto auto;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 20px;
}

.bgimg {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    background-size: cover;
    background-position: 50%;
}
.centerText {
    text-align: center;
    margin-top: 20px;
}

.logoNloginText {
    text-align: left;
    margin-top: 10px;
    margin-left: 35px;
}

.textStyle {
    font-size: 17px;
    width: 380px;
    height: 45px;
    border-radius: 4px;
    border-color: #eee;
    text-indent: 5px;
}

.btn {
    width: 384px;
    height: 45px;
    font-size: 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    letter-spacing: 10px;
}

.btn:ACTIVE {
    background-color: #66ccff;
}